/* footer */
body{
    margin-top: 100px;
    margin-bottom: 60px;
}
html{
    position: relative;
    min-height: 100%;
}
footer{
    background-color: #f4f4f4;
    width: 100%;
    position: absolute;
}
/* footer */



body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    background-color: #f4f4f4;
}

#contact, #contributors {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#contact h2,
#contributors h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}
#contact p{
    margin: 1rem 0;
}
#contributors ul {
    margin: 1rem 0;
    list-style-type: none;
    padding: 0;
}


/* 黑夜模式 */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode #contact, 
body.dark-mode #contributors {
    background: #1e1e1e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body.dark-mode #contact h2,
body.dark-mode #contributors h2 {
    color: #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
}

body.dark-mode #contact p,
body.dark-mode #contributors ul li {
    color: #ccc;
}
body.dark-mode footer{
    background-color: #1e1e1e;
}