/* footer */
body{
    margin-top: 100px;
    margin-bottom: 60px;
}
html{
    position: relative;
    min-height: 100%;
}
footer{
    background-color: #ffffff;
    width: 100%;
    position: absolute;
}
/* footer */


/* post-AuthorDate 样式 */
.post-AuthorDate {
    font-size: 15px; /* 设置字体大小 */
    color: #858f9b; /* 设置字体颜色 */
    margin-right: 10px; /* 设置右外边距 */
    display: inline-block; /* 设置为内联块元素 */
    /* font-style: italic; 设置字体样式为斜体 */
}


/* GitHub 风格的 Markdown 样式 */
.post-content {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.8;
    color: #24292e;
    background-color: #ffffff;
    /* padding: 20px; */
    /* margin-left: 250px; */
    padding: 30px 70px;
    margin: 20px 120px 10px 320px;
    font-size: 17px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(27, 31, 35, 0.12), 0 8px 24px rgba(27, 31, 35, 0.12);

}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-top: 25px;
    margin-bottom: 17px;
    font-weight: 600;
    line-height: 1.3;
}

.post-content h1 {
    font-size: 2.1em;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
}

.post-content h2 {
    font-size: 1.6em;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
}

.post-content h3 {
    font-size: 1.35em;
}

.post-content h4 {
    font-size: 1.1em;
}

.post-content h5 {
    font-size: 0.975em;
}

.post-content h6 {
    font-size: 0.95em;
    color: #6a737d;
}

.post-content p {
    margin-top: 0;
    margin-bottom: 16px;
}

.post-content blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
    margin: 0;
}

.post-content ul,
.post-content ol {
    padding-left: 2em;
    margin-top: 0;
    margin-bottom: 16px;
}

.post-content ul ul,
.post-content ul ol,
.post-content ol ol,
.post-content ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.post-content li {
    word-wrap: break-all;
}

.post-content li > p {
    margin-top: 16px;
}

.post-content code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 90%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
}

.post-content pre {
    padding: 16px;
    overflow: auto;
    font-size: 90%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.post-content pre code {
    font-family: 'Consolas', 'Courier New', monospace; 
    /* margin-bottom: 15px; */
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 100%;
    background: none;
    border: 0;
}

code, pre {
    margin-bottom: 15px;
}

.post-content table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 16px;
    border-spacing: 0;
    border-collapse: collapse;
}

.post-content table th {
    font-weight: 600;
}

.post-content table td,
.post-content table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.post-content table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.post-content table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.post-content img {
    max-width: 80%;
    height: auto;
    margin: 0px auto;
    display: block;
    box-sizing: initial;
    background-color: #ffffff;
}

.post-content a {
    color: #0366d6;
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}

.post-content hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}

/* @media screen and (max-width: 768px) {
    .post-content {
        margin: 20px 10px;
    }
} */


/* 黑夜模式 */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .post-content {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-color: #333;
}

body.dark-mode .post-content h1,
body.dark-mode .post-content h2,
body.dark-mode .post-content h3,
body.dark-mode .post-content h4,
body.dark-mode .post-content h5,
body.dark-mode .post-content h6 {
    color: #e0e0e0;
}

body.dark-mode .post-content blockquote {
    color: #ccc;
    border-left-color: #555;
}

body.dark-mode .post-content code {
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #2d2d2d; */
    color: #e0e0e0;
}

body.dark-mode .post-content pre {
    background-color: #2d2d2d;
}

body.dark-mode .post-content table {
    border-color: #444;
}

body.dark-mode .post-content table tr {
    background-color: #1e1e1e;
}

body.dark-mode .post-content table tr:nth-child(2n) {
    background-color: #2d2d2d;
}

body.dark-mode .post-content hr {
    background-color: #444;
}

body.dark-mode .post-content a {
    color: rgb(122, 174, 235);
}

body.dark-mode footer{
    background-color: #1e1e1e;
}