/* footer */
body{
    margin-top: 100px;
    margin-bottom: 60px;
}
html{
    position: relative;
    min-height: 100%;
}
footer{
    background-color: #f4f4f4;
    width: 100%;
    position: absolute;
}
/* footer */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 100px;
    /* margin: 0; */
    padding: 0;
}

.content-block {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.content-intro {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.content-footer {
    text-align: right;
}

.content-entry {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.content-entry:hover {
    text-decoration: underline;
}

.same-line {
    display: inline-block;
}

/* 黑夜模式 */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .content-block {
    /* background-color: #1e1e1e; */
    background-color: #1e1e1ed4;
    border-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

body.dark-mode .content-title {
    color: #e0e0e0;
}

body.dark-mode .content-intro {
    color: #ccc;
}

body.dark-mode .content-entry {
    color: #66b2ff;
}

body.dark-mode footer{
    background-color: #1e1e1e;
}