
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    
    <section id="contact">
        <h2>联系我们</h2>
        <p>QQ群：897201506</p>
        <p>微信公众号：南的AIA</p>
        <p>邮箱：NJU_AIA@163.com</p>
    </section>
    <section id="contributors">
        <h2>感谢大家的贡献</h2>
        <ul>
            <li>19届：xxx，xxx</li>
            <li>20届：xxx，xxx</li>
            <li>21届：xxx，xxx</li>
            <li>22届：xxx，xxx</li>
        </ul>
    </section>
</body>
