<head>
    <title>Activity</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <% 
        var postsInfo = site.posts
            .filter(function(post) {
                return post.type == 'activity'; // 过滤掉 tag 不为 activity 的 post
            })
            .map(function(post) {
                return {
                    date: new Date(post.date), // 将日期字符串转换为 Date 对象
                    num: post.num,
                    title: post.title,
                    description: post.description,
                    path: post.path
                };
            })
            .sort(function(a, b) {
                // return b.num - a.num; // 根据 num 排序
                return b.date - a.date; // 根据日期排序
            });
    %>

    <% postsInfo.forEach(function(post) { %>
        
        <div class="content-block">
            <h2 class="content-title">
                <%= post.title %>
            </h2>  
            <p class="content-intro">
                <%= post.description %>
            </p>
            <div class="content-footer">
                <a class="content-entry" href="/<%= post.path %>">
                    <span class="same-line">查看文章&gt;</span>
                </a>
            </div>
        </div>
    <% }); %>
</body>