
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>



<body>
<main>
    <section class="welcome">
        <h2>欢迎来到NJU-AIA协会</h2>
        <p>我们致力于AI知识的普及与交流，创建一个富有活力的AI社区</p>
        <!-- <p><a href="#">了解更多</a></p> -->
    </section>
    <section class="introduction">
        <p>我们定期举办讨论分享例会，交流AI领域的最新进展，探讨应用与编码AI上遇到的实践性问题
            <br>预计每学期完成1至2个AI项目/比赛，鼓励成员之间的交流合作，形成一个富有创造力的社团环境
        </p>
    </section>
    <section class="news">
        <img src="/images/recurit.png" alt="news">
        <div class="info">  
            <a href="/posts/3887023038/">
                <h2>社团招新</h2>
                <p>作为一个目标自由、开放的学术社区，我们的成长离不开每一位热心的贡献者的参与！
                    <br>如果您在学业之外有所空闲，愿意与我们共同运营社区，我们非常欢迎（并感谢）您的帮助！
                    <br>我们预计于9月份开展招新工作，请关注NJU_AIA招新交流群：897201506
                </p>
            </a>
        </div>
    </section>
    
    <section class="more">
        <div>
            <a href="/learning">
                <img src="/images/learning.png" alt="learning">
                <h3>学习资料</h3>
                <p>我们提供丰富的学习资料，<br>帮助同学们提升AI技能。</p>
            </a>
        </div>
        <div>
            <a href="/activity">
                <img src="/images/activity.png" alt="activity">
                <h3>活动合辑</h3>
                <p>我们定期举办各种活动，<br>让大家更好地交流AI。</p>
            </a>
        </div>
        <div>
            <a href="/about">
                <img src="/images/contact.png" alt="contact">
                <h3>关于我们</h3>
                <p>了解我们的社团，<br>加入我们一起成长。</p>
            </a>
        </div>
    </section>

</main>
</body>
