<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/layout.css">
    <style>body {display: none;}</style> <!-- 初始隐藏 body -->
</head>
<body>
    <%- partial('_partial/header') %>

    <div class="content">
        <%- body %>
    </div>
    
    <script src="/lib/highlight/highlight.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            hljs.highlightAll();
            document.body.style.display = 'block'; // 显示 body
        });
    </script>

    <%- partial('_partial/footer') %>

    <!-- <%-  partial('_partial/oml2d') %> -->
</body>

</html>