---
import Layout from '../layouts/Layout.astro';
// import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import ActivityPostsList from '../components/ActivityPostsList.astro';
---

<Layout title="AI研究社 - 活动推文">
	<!-- <Header /> -->
	<main>
		<ActivityPostsList />
	</main>
	<!-- <Footer /> -->
</Layout>

