---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MyHonorWall from '../components/HonorWall.astro';
---

<Layout title="AI研究社 - 荣誉墙">
	<!-- <Header /> -->
	<main>
		<MyHonorWall />
	</main>
	<!-- <Footer /> -->
</Layout>

