---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FeaturedEvents from '../components/FeaturedEvents.astro';
import MemberSpotlight from '../components/MemberSpotlight.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="AI Society Homepage">
	<Header />
	<main>
		<Hero />
		<FeaturedEvents />
		<MemberSpotlight />
		<ContactForm />
	</main>
	<Footer />
</Layout>

