---
import Layout from '../layouts/Layout.astro';
import PaperList from '../components/PaperList.astro';
---

<Layout title="AI研究社 - 技术教程">
	<!-- <Header /> -->
	<main>
		<PaperList />
	</main>
	<!-- <Footer /> -->
</Layout>

