---
import Layout from '../layouts/Layout.astro';
// import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import TechTutorialsList from '../components/TechTutorialsList.astro';
---

<Layout title="AI研究社 - 技术教程">
	<!-- <Header /> -->
	<main>
		<TechTutorialsList />
	</main>
	<!-- <Footer /> -->
</Layout>

