---
import AsciinemaPlayer  from '../components/asciinema.astro';
---

<html>
  <head>
    <title>Asciinema 终端录屏示例</title>
  </head>
  <body>
    <h1>Astro + Asciinema 终端录屏</h1>
    <script  async id="asciicast-569727" src="https://asciinema.org/a/569727.js" ></script>
  </body>
</html>