---
import { getCollection} from 'astro:content';
import { Image } from "astro:assets";
const activityPosts = await getCollection('activityPosts');
const sortedPosts = activityPosts.sort((a, b) => {
  const dateA = new Date(a.data.date).getTime();
  const dateB = new Date(b.data.date).getTime();
  return dateB - dateA;
}).slice(0, 3);
---


<section class="py-32 relative dark:bg-gray-950 bg-gray-50">
	<div class="absolute inset-0 overflow-hidden">
		<div class="absolute top-1/2 left-1/4 w-64 h-64 bg-[#40B3FF] opacity-10 blur-3xl"></div>
		<div class="absolute bottom-1/4 right-1/3 w-64 h-64 bg-[#954CE9] opacity-10 blur-3xl"></div>
	</div>
	<div class="container mx-auto px-4 relative z-10">
		<h2 class="text-3xl font-bold mb-12 text-center">
			<span class="bg-gradient-to-r from-[#40B3FF] to-[#954CE9] bg-clip-text text-transparent">
				近期活动
			</span>
		</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 dark:text-white">
			{sortedPosts.map((post) => (
				<a href={`/activities/${post.slug}`} >
				<div class="glass-card p-8 ">
				  <div class="p-6">
					<h3 class="text-xl font-semibold mb-4">  {post.data.title} </h3>				
					<p class="mb-4 dark:text-gray-300 text-gray-600">{post.data.description}</p>
					<p class="text-[#40B3FF]">
					  时间：
					  {new Date(post.data.date).toLocaleDateString("zh-CN", {
						year: "numeric",
						month: "long",
						day: "numeric",
						timeZone: "Asia/Shanghai"
					  })}
					  </p>				
				  </div>
				</div>
			  </a>
			))}
		</div>
		
	</div>
</section>

<style>
	.glass-card {
	  transition: transform 0.3s ease-in-out;
	}
	.glass-card:hover {
	  transform: translateY(-5px);
	}
  </style>
  