<footer class="py-12 relative dark:bg-gray-950 bg-gray-50">
	<div class="container mx-auto px-4 text-center">
		<div class="px-8 py-4
		rounded-xl border border-white/10 bg-white/10 backdrop-blur-lg shadow-md ">
			<p class="dark:text-gray-400 text-gray-600">&copy; 2025 NJU-AIA. All Rights Reserved</p>
			<!-- <div class="mt-4 space-x-4">
				<a href="#" class="text-[#40B3FF] hover:text-[#954CE9] transition-colors">隐私政策</a>
				<a href="#" class="text-[#40B3FF] hover:text-[#954CE9] transition-colors">服务条款</a>
			</div> -->
		</div>
	</div>
</footer>

