---
// import Image from "astro/components/Image.astro";
import { Image } from 'astro:assets';
import capooImage from '../assets/cat love Sticker by Capoo.gif';
---

<section class="relative min-h-screen flex items-center pt-20 overflow-hidden">
	<div class="absolute inset-0 z-0">
		<div class="absolute top-0 left-0 w-96 h-96 bg-[#40B3FF] opacity-20 blur-3xl"></div>
		<div class="absolute bottom-0 right-0 w-96 h-96 bg-[#954CE9] opacity-20 blur-3xl"></div>

	</div>
	<div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-12 px-4 relative z-10 mt-24 md:mt-0">
		<div class="flex flex-col justify-center space-y-8">
			<h1 class="text-5xl font-bold leading-tight text-gray-900 dark:text-gray-50">
				探索人工智能的
				<span class="bg-gradient-to-r from-[#40B3FF] to-[#954CE9] bg-clip-text text-transparent">
					无限可能
				</span>
			</h1>
			<p class="text-xl dark:text-gray-300 text-gray-600">
				加入我们的AI研究社区，与志同道合的伙伴一起探索前沿技术，实现创新突破~
			</p>
			<div class="flex space-x-4">
				<a href="/about" class="px-8 py-3 bg-[#40B3FF] rounded-lg hover:bg-[#954CE9] transition-colors text-lg text-white">
					立即加入
				</a>
				<a href="/articles" class="px-8 py-3  text-lg dark:text-white glass-card-hover">
					了解更多
				</a>
			</div>
		</div>
		<div class="relative">
			<!-- <Image src="../assets/cat love Sticker by Capoo.gif" alt="AI Visualization" class="w-full h-auto" />
			  -->
			  <Image src={capooImage} alt="AI Visualization" class="w-full h-auto" width="500" height="500" />
		</div>
	</div>
</section>

